.activity-card {
  background: linear-gradient(145deg, #1e293b, #0f172a);
  border-radius: 20px;
  padding: 24px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.4);
}
.join-btn.Joined {
  background-color: #16a34a;
  cursor: default;
}
.dashboard-container {
  padding: 40px;
}

.dashboard-grid-top,
.dashboard-grid-middle {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 30px;
  margin: 70px;
}

.dashboard-grid-bottom {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 30px;
  margin: 0 70px;
}

.bottom-left {
  display: flex;
  flex-direction: column;
}

.bottom-right {
  display: flex;
  flex-direction: column;
}
.dashboard-top {
  margin: 70px;
}

.welcome-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.welcome-row h1 {
  font-size: 28px;
  margin-bottom: 6px;
}

.welcome-row p {
  color: #94a3b8;
  font-size: 14px;
}



.stats-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.stat-card {
  background: rgba(255,255,255,0.03);
  border: 1px solid rgba(255,255,255,0.08);
  padding: 20px;
  border-radius: 18px;
  display: flex;
  gap: 20px;
  align-items: center;
}

.stat-icon {
  width: 50px;
  height: 50px;
  
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.stat-card p {
  color: #94a3b8;
  font-size: 14px;
}

.stat-card h2 {
  font-size: 22px;
}

.badge {
  font-size: 12px;
  padding: 3px 8px;
  border-radius: 8px;
  display: inline-block;
  margin-bottom: 6px;
}

.badge.green {
  background: rgba(34,197,94,0.2);
  color: #22c55e;
}

.badge.blue {
  background: rgba(59,130,246,0.2);
  color: #3b82f6;
}