.modal-title {
  font-size: 26px;
  font-weight: 600;
  color: #ffffff;
  margin-bottom: 8px;
}

.modal-subtitle {
  font-size: 14px;
  color: #94a3b8;
  margin-bottom: 25px;
}


.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 18px;
}

.input-group label {
  font-size: 14px;
  color: #cbd5e1;
  margin-bottom: 6px;
}

.input-group input {
  background: #1e293b;
  border: 1px solid #334155;
  padding: 12px 14px;
  border-radius: 10px;
  font-size: 14px;
  color: #ffffff;
  outline: none;
  transition: all 0.2s ease;
}

.input-group input::placeholder {
  color: #64748b;
}

.input-group input:focus {
  border-color: #6366f1;
  box-shadow: 0 0 0 2px rgba(99, 102, 241, 0.2);
}


.error {
  color: #ef4444;
  font-size: 12px;
  margin-top: 4px;
}

/* Submit Button */
.modal-btn {
  width: 100%;
  padding: 14px;
  border-radius: 12px;
  border: none;
  font-size: 15px;
  font-weight: 600;
  color: #ffffff;
  cursor: pointer;
  background: #135BEC;
  transition: all 0.3s ease;
  margin-top: 10px;
}

.modal-btn:hover {
  background: #0f4ecb; 
  transform: translateY(-1px);
}

/* Switch Text */
.switch-text {
  margin-top: 18px;
  font-size: 14px;
  text-align: center;
  color: #94a3b8;
}

.switch-text span {
  color: #3b82f6;
  cursor: pointer;
  font-weight: 500;
}

.switch-text span:hover {
  text-decoration: underline;
}

@media (max-width: 992px) {
  .modal-box {
    width: 420px;
    padding: 35px;
  }

  .modal-title {
    font-size: 24px;
  }
}

@media (max-width: 768px) {
  .modal-box {
    width: 60%;
    padding: 30px;
  }

  .modal-title {
    font-size: 22px;
  }

  .modal-subtitle {
    font-size: 13px;
  }

  .input-group input {
    padding: 11px 12px;
    font-size: 13px;
  }

  .modal-btn {
    padding: 13px;
    font-size: 14px;
  }
}

@media (max-width: 576px) {
  .modal-box {
    width: 80%;
    padding: 22px;
    border-radius: 14px;
  }

  .modal-title {
    font-size: 20px;
  }

  .modal-subtitle {
    font-size: 12px;
    margin-bottom: 20px;
  }

  .input-group {
    margin-bottom: 15px;
  }

  .input-group label {
    font-size: 13px;
  }

  .input-group input {
    padding: 10px 12px;
    font-size: 13px;
    border-radius: 8px;
  }

  .modal-btn {
    padding: 12px;
    font-size: 14px;
    border-radius: 10px;
  }

  .switch-text {
    font-size: 13px;
  }
}