/*navbar*/
.navl{
    color:white;
}
.custom-navbar{
    background-color: black;
}
.login-link{
    color:white;
}


/*hero section*/
.joinchallengeBtn{
   background-color: #135BEC;
   color:white;
   padding: 18px 32px;
}
.exploreCommunitybtn{
   border: 2px solid #334155;
   color: #F1F5F9;
   padding: 18px 32px;
}
.colorChange{
    color: #135BEC;
}
.heroSection{
    
     background: 
  radial-gradient(
    circle at center,
    rgba(19, 91, 236, 0.15) 0%,
    rgba(19, 91, 236, 0) 50%
  ),
  radial-gradient(
    circle at center,
    rgba(124, 58, 237, 0.10) 0%,
    rgba(124, 58, 237, 0) 50%
  ),#0F172A;
  height: 100vh;
  width: 100vw;
}
.live{
    background: rgba(19, 91, 236, 0.1);
    border: 1px solid rgba(19, 91, 236, 0.2);
    
}
.tagLine{
    color: white;
    line-height: 72px;
    letter-spacing: -1.8px;
}
.jcBtnText{
    font-size: 18px;
}
.ecBtnText{
    font-size: 18px;
}
.TgBody{
    font-size: 20px;
    color: #94A3B8;
    letter-spacing: 0.2px;
}
.liveText{
    color: #135BEC;
}
.liveDot{
    background-color: #135BEC;
}
.joinedTxt{
    font-size: 14px;
    color: #64748B;
}
.imageContainer{
   background:
  rgba(15, 23, 42, 0.5),
  linear-gradient(90deg, #135BEC 0%, #9333EA 100%),#1E293B;
  border: 1px solid #1E293B;
  backdrop-filter: blur(4px);
  
}